@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0C10;
  --foreground: #E5E7EB;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0C10;
}
::-webkit-scrollbar-thumb {
  background: #202430;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #32384A;
}
