@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0E1E33;
  --foreground: #F1F5F9;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom Gold Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0E1E33;
}
::-webkit-scrollbar-thumb {
  background: #253852;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B8935F;
}
